@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DOCUMENTAÇÃO DO PROJETO ELEVADOR</h1>
    
    <p>Neste software o usuário poderá gerenciar um elevador.</p>  
    <p>O primeiro passo é informar a capacidade máxima do elevador.</p>
    <img src="https://uploaddeimagens.com.br/images/003/885/763/original/1.PNG?1653840875" />
    <p> </p>
    <p>Como exemplo foi digitado 5, ou seja, somente um máximo de 5 pessoas podem entrar no elevador.</p>
    <p>O segundo passo é informar quantos andares existem no prédio.</p>
    <img src="https://uploaddeimagens.com.br/images/003/885/769/full/2.PNG?1653841008" />
    <p> </p>
    <p>Como exemplo foi digitado 7, ou seja, o prédio tem 7 andares.</p>
    <p>Após isto, abrirá um menu para o usuário escolher uma opção de 1 a 4. Escolhendo 1, uma pessoa será adicionada ao elevador. Escolhendo 2, uma pessoa será retirada do elevador. Escolhendo 3, o elevador irá subir. Escolhendo 4, o elevador irá descer.</p>
    <img src="https://uploaddeimagens.com.br/images/003/885/773/full/3.PNG?1653841143" />
    <p> </p>
    <p>Como exemplo, escolhi 1, para 1 pessoa entrar no elevador e depois escolhi 3, para o elevador subir um andar. Um texto irá informar a ação escolhida e as informações do elevador, em seguida.</p>
    <img src="https://uploaddeimagens.com.br/images/003/885/774/full/4.PNG?1653841355" />
    <p> </p>
    <p>Caso o usuário escolha uma opção que não seja de 1 a 4, uma mensagem de erro será exibida.</p>
    <img src="https://uploaddeimagens.com.br/images/003/885/776/full/5.PNG?1653841446" />
    

    </div>
